/*
UNIVERSAL!!!
*/

/*sets all to a border-box which allows height and width to remain fixed 
but includes border thickness and padding inside the box*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*sets background color for body element*/
body {
    background-color: #d9dcd6;
}

/*sets the font-size of the paragraph text*/
p {
    font-size: 16px;
}

















/*
NAVBAR!!!
*/

/*sets fonts and adds background color/color to navigation menu*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*
sets h1 element from block to inline inside the navigation menu
sets font size of h1 inside "header" class
*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*
sets the div inside "header" with fonts/font-size/margins/padding
set float which moves elements to the far right
*/
.header div {
    float: right;
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*
removes the bullet points from the list
should use reset stylesheet
*/
.header div ul {
    list-style-type: none;
}

/*
sets the list element of the naviagtion menu to an inline 
#changed display from inline block to inline
*/
.header div ul li {
    display: inline;
    margin-left: 25px;
}

/*
sets the text color of links
*/
.header div ul li a {
    color: #ffffff;
    text-decoration: none;
}
















/*
LARGE IMAGE!!!
*/

/*sets the background image of the first 800px vertical of the site*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}















/*
LARGE LEFTSIDE CONTENT BOX!!!
75% WIDTH
*/



/*
sets "content" class attributes
inline-block take up ALL of the DEFINDED width  
*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*sets the "content" text boxes*/
.content div {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* sets all h2 elements inside "content" div*/
.content div h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* sets all img elements inside "content" div*/
.content div img {
    max-height: 200px;
}











/*floats the contents to the right side of the parent element box*/
.float-right {
    float: right;
    margin-left: 25px;
}


/*floats the contents to the left side of the parent element box*/
.float-left {
    float: left;
    margin-right: 25px;
}













/*
SMALL CONTENT BOX!!!
20% WIDTH
*/


/*sets "benifits" class  box attributes
floats all of the box the right*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*sets "benifits" text boxes*/
.benefits div {
    margin-bottom: 32px;
    color: #ffffff;
}
/*sets "benifits" title boxes*/
.benefits div h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*sets "benifits" image boxes*/
.benefits div img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}













/*
FOOTER!!!
*/


/*sets "footer" class attrubutes*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*sets "footer" classes h2 element('s) attributes*/
.footer h2 {
    font-size: 20px;
}
